:root  > * {
  --md-primary-fg-color:        #f47920;
  --md-primary-fg-color--light: #f47920;
  --md-primary-fg-color--dark:  #f47920;


}

/* Top bar / header background */
.md-header {
  background-color: #551f7a; /* deep indigo hex */
}
/* More space at the bottom of the page. */
.md-main__inner {
  margin-bottom: 1.5rem;
}



/* Accent color for text/links/highlight */
:root {
  --md-accent-fg-color: #ff7043;   /* orange accent */
}

/* Always make doc headings visually stronger than section titles */
.md-typeset .doc-heading {
  font-size: 1.1em;      /* relative step up */
  font-weight: 600;
}

.md-typeset .doc-section-title {
  font-size: 0.9em;      /* relative step down */
  /* font-weight: 500; */
}

div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: .05rem solid var(--md-typeset-table-color);
}

.doc-children > .doc-object.doc-class:not(:first-of-type) {
  margin-top: 10%;
}
.doc-children > .doc-object.doc-object.doc-attribute:not(:first-of-type) {
  margin-top: 4%;
}
.doc-children > .doc-object.doc-attribute:first-of-type {
  margin-top: 2%;
}
.doc-attribute > .doc-heading {
  margin-bottom: 0;
}

.doc-children > h4,
.doc-children > h5,
.doc-children > h6 {
  margin-top: 7%;
  font-size: 0.9em;      /* relative step down */
}



.doc-children{
  margin-top: 7%;
}


/* 
.md-grid {
  max-width: 1440px; 
} */

